
{% extends "presentation/layout.html" %}

{% load static %}

{% block title%}
    Search
{% endblock %}

{% block extra_head %}
    <link href="{% static 'presentation/searchstyle.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class = "other_page">
        <form action="{% url 'image' %}">
            <input type = "submit" value = "Image Search" class = "other_button">
        </form>
        <form action="{% url 'advanced' %}">
            <input type = "submit" value = "Advanced Search" class = "other_button">
        </form>
    </div>
    <form action="https://google.com/search" class = "search_page">
        <div class = ".center_div">
                <input type="text" name="q" class = "search_bar">
        <div>
            <input type="submit" name ="btnK" value="Google Search" class = "search_button">
            <input type="submit" name ="btnI" value="I'm Feeling Lucky" class="search_button">
        </div>
    </form>
{% endblock %}